# movies_metadata를 이용하여 pandas 활용 과제

In [3]:
import pandas as pd

In [5]:
df=pd.read_csv("./movies_metadata.csv")

C:\Users\admin\AppData\Local\Temp\ipykernel_30992\2936875507.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv("./movies_metadata.csv")

# 1. 가장 런타임 긴 시간 영화 1편을 찾아주세요

상영 시간이 가장 긴 영화 : Centennial

# 2. 2016년 1월부터 3월까지 나왔던 시리즈 영화를 찾아주세요

26564                                            Deadpool
30400                                           Allegiant
31072                  Batman v Superman: Dawn of Justice
35220                                         Zoolander 2
35387                                     Kung Fu Panda 3
35976                                        Ride Along 2
35983                                   Batman: Bad Blood
36224                                Jarhead 3: The Siege
36243    Crouching Tiger, Hidden Dragon: Sword of Destiny
36252                                   London Has Fallen
36544                                  Pitbull. New Order
37570                    Monster High Great Scarrier Reef
37638                               Pee-wee's Big Holiday
37702                          My Big Fat Greek Wedding 2
37780                                     Elections Day 2
37795                      Justice League vs. Teen Titans
38758                                   The Bridge Part 2
38762                 Flower Shop Mystery: Mum's the Word
38880      The Land Before Time XIV: Journey of the Brave
39345                      Les Tuche 2: Le rêve américain
39964                               A Conspiracy of Faith
40062                                 Spirits' Homecoming
40182                     Kizumonogatari Part 1: Tekketsu
40672                                 Maigret Sets a Trap
40801           Signed, Sealed, Delivered: From the Heart
40849          Murder, She Baked: A Peach Cobbler Mystery
45343                          The Visitors: Bastille Day
Name: title, dtype: object

# 3. 영화 제목이 "toy"로 시작하는 영화 개수를 찾아주세요

'toy'로 시작하는 영화 개수: 12

# 4. 한국어 영화 중 평점 8.0이상인 영화를 찾아주세요

                               title  vote_average
9430                          Oldboy           8.0
15549  The Power of Kangwon Province           8.2
16632                 Tale of Cinema           8.4
16694           Castaway on the Moon           8.1
20305                          Sunny           8.0
21739          Miracle in Cell No. 7           8.0
32934                       Silenced           8.0
32946              The Beauty Inside           8.1
38249                   Motel Cactus           8.0
38420     SORI: Voice from the Heart           8.0
38718                 The Handmaiden           8.1
40035                   Remember You           8.5
40062            Spirits' Homecoming           8.5
41113             The Surrogate Womb           8.3
41230                  Under the Sun           8.1
41907                       Top Star           8.0
42393                           Hope           8.1
43505            My Annoying Brother           8.4

# 5. 한국어 영화의 수익 평균을 찾아주세요

수익 평균 : $ 2181629.0