In [31]:
import seaborn as sns
import pandas as pd

# 타이타닉 데이터셋 가져오기
df = sns.load_dataset("titanic")

# 정보 추출
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB

In [32]:
# 남녀 성비
# df["sex"].value_counts()

# 1,2,3 등석
# df["pclass"].value_counts()

# 탄 항구
df["embark_town"].value_counts()

# ? 이게 뭐노
# df.value_counts("embark_town")
# df.embark_town.value_counts()

Southampton    644
Cherbourg      168
Queenstown      77
Name: embark_town, dtype: int64

In [34]:
df3 = df.dropna().info() 

df3

<class 'pandas.core.frame.DataFrame'>
Int64Index: 182 entries, 1 to 889
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     182 non-null    int64
 1   pclass       182 non-null    int64
 2   sex          182 non-null    object
 3   age          182 non-null    float64
 4   sibsp        182 non-null    int64
 5   parch        182 non-null    int64
 6   fare         182 non-null    float64
 7   embarked     182 non-null    object
 8   class        182 non-null    category
 9   who          182 non-null    object
 10  adult_male   182 non-null    bool
 11  deck         182 non-null    category
 12  embark_town  182 non-null    object
 13  alive        182 non-null    object
 14  alone        182 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 18.2+ KB

In [50]:
# df["deck"].isnull()
# df["deck"].isnull().sum()

# df2 = df.dropna()
# df2 = df.dropna(subset = ["deck"])
# df2 = df.dropna(subset = ["deck", "age"])
# df2 = df.dropna(subset = ["deck", "age"], how="all")
# df2 = df.dropna(subset = ["deck", "age"], how="any")
# df2 = df.dropna(axis = 0)
# df2 = df.dropna(axis = 1)


df2

Empty DataFrame
Columns: [survived, pclass, sex, age, sibsp, parch, fare, embarked, class, who, adult_male, deck, embark_town, alive, alone]
Index: []