# IRIS 데이터셋

- sepal_length : 꽃받침 길이
- sepal_width : 꽃받침 너비
- petal_length : 꽃잎 길이 
- petal_width : 꽃잎 너비
- species : iris 꽃 종류
    - setosa : 세토사
    - versicolor : 버시칼라
    - virginica : 버지니카

In [1]:
import pandas as pd

## 1. Seaborn 라이브러리에서 Iris 데이터 셋을 읽어 오세요

In [2]:
import seaborn as sns
df = sns.load_dataset('iris')
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

## 2. 아이리스 데이터를 뒤에서 5개만 출력하세요

In [3]:
df.iloc[-6:-1]

     sepal_length  sepal_width  petal_length  petal_width    species
144           6.7          3.3           5.7          2.5  virginica
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica

## 3. 아이리스 데이터 중 세토사 데이터만 출력하세요

In [4]:
df[df['species'] == 'setosa']

    sepal_length  sepal_width  petal_length  petal_width species
0            5.1          3.5           1.4          0.2  setosa
1            4.9          3.0           1.4          0.2  setosa
2            4.7          3.2           1.3          0.2  setosa
3            4.6          3.1           1.5          0.2  setosa
4            5.0          3.6           1.4          0.2  setosa
5            5.4          3.9           1.7          0.4  setosa
6            4.6          3.4           1.4          0.3  setosa
7            5.0          3.4           1.5          0.2  setosa
8            4.4          2.9           1.4          0.2  setosa
9            4.9          3.1           1.5          0.1  setosa
10           5.4          3.7           1.5          0.2  setosa
11           4.8          3.4           1.6          0.2  setosa
12           4.8          3.0           1.4          0.1  setosa
13           4.3          3.0           1.1          0.1  setosa
14           5.8          4.0           1.2          0.2  setosa
15           5.7          4.4           1.5          0.4  setosa
16           5.4          3.9           1.3          0.4  setosa
17           5.1          3.5           1.4          0.3  setosa
18           5.7          3.8           1.7          0.3  setosa
19           5.1          3.8           1.5          0.3  setosa
20           5.4          3.4           1.7          0.2  setosa
21           5.1          3.7           1.5          0.4  setosa
22           4.6          3.6           1.0          0.2  setosa
23           5.1          3.3           1.7          0.5  setosa
24           4.8          3.4           1.9          0.2  setosa
25           5.0          3.0           1.6          0.2  setosa
26           5.0          3.4           1.6          0.4  setosa
27           5.2          3.5           1.5          0.2  setosa
28           5.2          3.4           1.4          0.2  setosa
29           4.7          3.2           1.6          0.2  setosa
30           4.8          3.1           1.6          0.2  setosa
31           5.4          3.4           1.5          0.4  setosa
32           5.2          4.1           1.5          0.1  setosa
33           5.5          4.2           1.4          0.2  setosa
34           4.9          3.1           1.5          0.2  setosa
35           5.0          3.2           1.2          0.2  setosa
36           5.5          3.5           1.3          0.2  setosa
37           4.9          3.6           1.4          0.1  setosa
38           4.4          3.0           1.3          0.2  setosa
39           5.1          3.4           1.5          0.2  setosa
40           5.0          3.5           1.3          0.3  setosa
41           4.5          2.3           1.3          0.3  setosa
42           4.4          3.2           1.3          0.2  setosa
43           5.0          3.5           1.6          0.6  setosa
44           5.1          3.8           1.9          0.4  setosa
45           4.8          3.0           1.4          0.3  setosa
46           5.1          3.8           1.6          0.2  setosa
47           4.6          3.2           1.4          0.2  setosa
48           5.3          3.7           1.5          0.2  setosa
49           5.0          3.3           1.4          0.2  setosa

## 4. 아이리스 데이터 중 버시칼라 데이터의 꽃받침 길이의 최대값을 출력하세요

In [5]:
a = df[df['species'] == 'versicolor']
a['sepal_width'].max()

3.4

## 5. 아이리스 데이터 중 버지니카 데이터의 꽃잎 길이의 평균과 세토사 데이터의 꽃잎 길이의 평균의 차를 출력하세요

In [6]:
b = df[df['species'] == 'setosa']
c = df[df['species'] == 'virginica']
abs(b['petal_length'].mean() - c['petal_length'].mean())

4.09

## 6. 아이리스 데이터의 행과 열의 위치를 바꾸세요 (다음 문제에 영향이 없도록 하세요)

In [7]:
A = df.copy()
A.T

,0,1,2,3,4,5,6,7,8,9,...,140,141,142,143,144,145,146,147,148,149
sepal_length,5.1,4.9,4.7,4.6,5.0,5.4,4.6,5.0,4.4,4.9,...,6.7,6.9,5.8,6.8,6.7,6.7,6.3,6.5,6.2,5.9
sepal_width,3.5,3.0,3.2,3.1,3.6,3.9,3.4,3.4,2.9,3.1,...,3.1,3.1,2.7,3.2,3.3,3.0,2.5,3.0,3.4,3.0
petal_length,1.4,1.4,1.3,1.5,1.4,1.7,1.4,1.5,1.4,1.5,...,5.6,5.1,5.1,5.9,5.7,5.2,5.0,5.2,5.4,5.1
petal_width,0.2,0.2,0.2,0.2,0.2,0.4,0.3,0.2,0.2,0.1,...,2.4,2.3,1.9,2.3,2.5,2.3,1.9,2.0,2.3,1.8
species,setosa,setosa,setosa,setosa,setosa,setosa,setosa,setosa,setosa,setosa,...,virginica,virginica,virginica,virginica,virginica,virginica,virginica,virginica,virginica,virginica

## 7. 아이리스 데이터의 0번 행부터 49번 행까지의 데이터만 출력하세요

In [8]:
df.iloc[0:50]

    sepal_length  sepal_width  petal_length  petal_width species
0            5.1          3.5           1.4          0.2  setosa
1            4.9          3.0           1.4          0.2  setosa
2            4.7          3.2           1.3          0.2  setosa
3            4.6          3.1           1.5          0.2  setosa
4            5.0          3.6           1.4          0.2  setosa
5            5.4          3.9           1.7          0.4  setosa
6            4.6          3.4           1.4          0.3  setosa
7            5.0          3.4           1.5          0.2  setosa
8            4.4          2.9           1.4          0.2  setosa
9            4.9          3.1           1.5          0.1  setosa
10           5.4          3.7           1.5          0.2  setosa
11           4.8          3.4           1.6          0.2  setosa
12           4.8          3.0           1.4          0.1  setosa
13           4.3          3.0           1.1          0.1  setosa
14           5.8          4.0           1.2          0.2  setosa
15           5.7          4.4           1.5          0.4  setosa
16           5.4          3.9           1.3          0.4  setosa
17           5.1          3.5           1.4          0.3  setosa
18           5.7          3.8           1.7          0.3  setosa
19           5.1          3.8           1.5          0.3  setosa
20           5.4          3.4           1.7          0.2  setosa
21           5.1          3.7           1.5          0.4  setosa
22           4.6          3.6           1.0          0.2  setosa
23           5.1          3.3           1.7          0.5  setosa
24           4.8          3.4           1.9          0.2  setosa
25           5.0          3.0           1.6          0.2  setosa
26           5.0          3.4           1.6          0.4  setosa
27           5.2          3.5           1.5          0.2  setosa
28           5.2          3.4           1.4          0.2  setosa
29           4.7          3.2           1.6          0.2  setosa
30           4.8          3.1           1.6          0.2  setosa
31           5.4          3.4           1.5          0.4  setosa
32           5.2          4.1           1.5          0.1  setosa
33           5.5          4.2           1.4          0.2  setosa
34           4.9          3.1           1.5          0.2  setosa
35           5.0          3.2           1.2          0.2  setosa
36           5.5          3.5           1.3          0.2  setosa
37           4.9          3.6           1.4          0.1  setosa
38           4.4          3.0           1.3          0.2  setosa
39           5.1          3.4           1.5          0.2  setosa
40           5.0          3.5           1.3          0.3  setosa
41           4.5          2.3           1.3          0.3  setosa
42           4.4          3.2           1.3          0.2  setosa
43           5.0          3.5           1.6          0.6  setosa
44           5.1          3.8           1.9          0.4  setosa
45           4.8          3.0           1.4          0.3  setosa
46           5.1          3.8           1.6          0.2  setosa
47           4.6          3.2           1.4          0.2  setosa
48           5.3          3.7           1.5          0.2  setosa
49           5.0          3.3           1.4          0.2  setosa

## 8. 아이리스 데이터의 0 ~ 49번 행 데이터와 100 ~ 149번 행 까지의 데이터만 보여주세요

In [9]:
aaa = df.iloc[0:50] + df.iloc[100:150] 
aaa

     sepal_length  sepal_width  petal_length  petal_width species
0             NaN          NaN           NaN          NaN     NaN
1             NaN          NaN           NaN          NaN     NaN
2             NaN          NaN           NaN          NaN     NaN
3             NaN          NaN           NaN          NaN     NaN
4             NaN          NaN           NaN          NaN     NaN
..            ...          ...           ...          ...     ...
145           NaN          NaN           NaN          NaN     NaN
146           NaN          NaN           NaN          NaN     NaN
147           NaN          NaN           NaN          NaN     NaN
148           NaN          NaN           NaN          NaN     NaN
149           NaN          NaN           NaN          NaN     NaN

[100 rows x 5 columns]

## 9. 아이리스 데이터의 모든 꽃잎 너비 데이터를 정수로 바꾸세요 (다음 문제에 영향이 없도록 해주세요)

In [11]:
bbb = df.copy()

bbb['petal_width'] = bbb['petal_width'].round(0).astype(int)

bbb

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4            0     setosa
1             4.9          3.0           1.4            0     setosa
2             4.7          3.2           1.3            0     setosa
3             4.6          3.1           1.5            0     setosa
4             5.0          3.6           1.4            0     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2            2  virginica
146           6.3          2.5           5.0            2  virginica
147           6.5          3.0           5.2            2  virginica
148           6.2          3.4           5.4            2  virginica
149           5.9          3.0           5.1            2  virginica

[150 rows x 5 columns]

## 10. 아이리스 데이터의 꽃받침 길이와  꽃잎 길이의 합을 구해 새로운 열 데이터로 추가하세요
- 컬럼 이름은 "sepal + petal" 로 해주세요

In [12]:
df['sepal + petal'] = df['sepal_length'] + df['petal_length']
df

,sepal_length,sepal_width,petal_length,petal_width,species,sepal + petal
0,5.1,3.5,1.4,0.2,setosa,6.5
1,4.9,3.0,1.4,0.2,setosa,6.3
2,4.7,3.2,1.3,0.2,setosa,6.0
3,4.6,3.1,1.5,0.2,setosa,6.1
4,5.0,3.6,1.4,0.2,setosa,6.4
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica,11.9
146,6.3,2.5,5.0,1.9,virginica,11.3
147,6.5,3.0,5.2,2.0,virginica,11.7
148,6.2,3.4,5.4,2.3,virginica,11.6
149,5.9,3.0,5.1,1.8,virginica,11.0